// GLOBAL COLOR-VARIABLES


// BASIC-COLORS ...
$white: #FFFFFF;
$black: #000000;
$errorRed: #E60026;
$bgOrange: #FF3D00;
$bgYellow: #FFA800;
$bgGreen: #7AE229;
$bgBrightGreen: #1FD7C1;
$bgGrey: #2A3647;
$bgLightGrey: #F6F7F8;
$bgMiddleGrey: #D1D1D1;



// NAV-BUTTONS ...
$navActive: #2A3D59;
$navNotActive: #CDCDCD;
$navBgActiveGrey: #091931;
$navBgNotActiveGrey: #2A3647;


// OTHER BUTTONS ...
$buttonGrey: #2A3647;
$buttonBlue: #29ABE2;


// COLORS FOR USERS ...
$userColor1: #FF7A00;
$userColor2: #FF5EB3;
$userColor3: #6E52FF;
$userColor4: #9327FF;
$userColor5: #00BEE8;
$userColor6: #1FD7C1;
$userColor7: #FF745E;
$userColor8: #FFA35E;
$userColor9: #FC71FF;
$userColor10: #FFC701;
$userColor11: #0038FF;
$userColor12: #C3FF2B;
$userColor13: #FFE62B;
$userColor14: #FF4646;
$userColor15: #FFBB2B;

:root {
  @for $i from 1 through 15 {
    --userColor#{$i}: #{nth((
      $userColor1, $userColor2, $userColor3, $userColor4, $userColor5,
      $userColor6, $userColor7, $userColor8, $userColor9, $userColor10,
      $userColor11, $userColor12, $userColor13, $userColor14, $userColor15
    ), $i)};
  }
}