@use '../styles/colors.scss';

.text_3 {
  /* Figma: "subtitle" */
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_4 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_5 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_7 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}


/* -------------------------- Globale Buttons,Icons ------------------------- */

.d_none {
  display: none;
}

.button_light {
  border: 2px solid colors.$bgGrey;
  padding: 15px 24px;
  border-radius: 8px;
  background: transparent;
  font-size: 21px;
  font-weight: 400;
  transition: transform 160ms ease, box-shadow 160ms ease;
  transform-origin: center;

  &:hover {
    border: 2px solid colors.$buttonBlue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.06);
  }
}

.button_dark {
  border: 2px solid colors.$bgGrey;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  background-color: colors.$bgGrey;
  color: colors.$white;
  transition: transform 160ms ease, box-shadow 160ms ease;
  transform-origin: center;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.06);
  }
}