@use '../styles/colors.scss';

.text_3 {
  /* Figma: "subtitle" */
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_4 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_5 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}

.text_7 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
}


/* -------------------------- Globale Buttons,Icons ------------------------- */

.d_none {
  display: none;
}

.close {
      top: 48px;
      right: 48px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;


      &:hover {
        background-color: colors.$bgMiddleGrey;
        transition: background-color 150ms ease-in-out;

        @media (max-width: 1050px) {
          display: none;
        }
      }

      @media (max-width: 1050px) {
        top: 24px;
        right: 24px;
        color: colors.$white;
        z-index: 11;

         .active{
          background-color: colors.$buttonBlue;
          transition: background-color 150ms ease-in-out;
        }
      }

      img {
        width: 14px;
        height: 14px;
        top: 9px;
        left: 9px;
        pointer-events: none;
      }
    }

.button_light {
  border: 2px solid colors.$bgGrey;
  padding: 16px 24px;
  border-radius: 16px;
  background: transparent;
  font-size: 21px;
  font-weight: 400;
  transition: transform 160ms ease, box-shadow 160ms ease;
  transform-origin: center;

  &:hover {
    border: 2px solid colors.$buttonBlue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.06);
  }
}

.button_dark {
  border: 2px solid colors.$bgGrey;
  padding: 16px 24px;
  border-radius: 16px;
  font-size: 21px;
  font-weight: 700;
  background-color: colors.$bgGrey;
  color: colors.$white;
  transition: transform 160ms ease, box-shadow 160ms ease;
  transform-origin: center;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.06);
  }
}