@use '../../../../../styles/global-styles.scss';
@use '../../../../../styles/colors.scss';
@use '../../../../../../styles.scss';

// #######################################################################
// ------------------------------ Show-Area ------------------------------
// #######################################################################

.dialog_show {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 4px;
  width: 525px;
  position: relative;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 12px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40px;
      right: 40px;
      width: 32px;
      height: 32px;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      color: colors.$buttonGrey;
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: #d9d9d9;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .area_title {
    display: flex;
    flex-direction: column;

    .task_title {
      font-weight: 700;
      font-size: 61px;
      padding-top: 24px;
    }

    .task_description {
      font-weight: 400;
      font-size: 20px;
      padding-top: 20px;
    }
  }

  .task_info {
    display: flex;
    padding-top: 20px;

    .task_info_space_1 {
      margin-left: 20px;
    }

    .task_info_space_2 {
      margin-left: 38px;
    }

    span:nth-child(1) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
    }

    span:nth-child(2) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$black;
    }
  }

  .assigned_title,
  .subtasks_title {
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    color: colors.$bgGrey;
  }

  .area_assigned {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 7px 16px;

      span:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        color: colors.$white;
        font-size: 16px;
      }
    }
  }

  .subtasks {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 4px;

    p {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 4px 8px;
      cursor: pointer;
      transition: background-color 100ms ease-in-out;

      &:hover {
        background-color: #eee;
        border-radius: 8px;
      }
    }

    .checkbox_icon {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 20px;

    .btn-delete,
    .btn-edit {
      display: flex;
      align-items: center;
      gap: 8px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: colors.$bgGrey;

      &:hover {
        color: colors.$buttonBlue;
      }
    }
  }
}

.d_none {
  display: none !important;
}

// #######################################################################
/* ------------------------------- EditBereich ------------------------------ */
// #######################################################################
.dialog_edit {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  gap: 24px;
  width: 525px;
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 12px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  header {
    align-self: flex-end;
  }

  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 400;
      font-size: 16px;
      color: colors.$black;
      margin-top: 30px;
    }

    input,
    select {
      padding: 12px 21px;
      border: 1px solid colors.$bgMiddleGrey;
      border-radius: 10px;
      font-size: 16px;
      width: 100%;
      outline: none;

      &:focus {
        border-color: colors.$buttonBlue;
      }
    }
  }

  .area_prio_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 400;
      font-size: 16px;
      color: colors.$black;
    }

    .prio_buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 16px;
      width: 100%;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        gap: 8px;
        background: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: black;
        transition: all 100ms ease-in-out;

        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        }

        &.active_urgent {
          background: #ff3d00;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }

        &.active_medium {
          background: #ffa800;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }

        &.active_low {
          background: #7ae229;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }
      }
    }
  }

  .area_assigned {
    width: 100%;

    .assigned-logos {
      display: flex;
      gap: 8px;
      margin-top: 8px;
      flex-wrap: wrap;
    }

    .sc_logo {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
    }
  }

  .subtasks {

.area_input div {
  display: flex;
  gap: 8px;
  align-items: center;

  .confirm_btn {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: colors.$white;
    color: colors.$black;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
  }

  .confirm_icon {
    width: 14px;
    height: 14px;
    display: block;
  }
}


    .subtask_list_edit {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 8px;
    }

    .subtask_item_edit {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-bottom: 1px solid transparent;

      &:hover {
        background-color: #f0f0f0;
        border-radius: 8px;
      }

      &:hover .subtask_icons {
        opacity: 1;
        visibility: visible;
      }
    }

    .bullet_point {
      margin-right: 12px;
      font-size: 20px;
      line-height: 1;
    }

    .subtask_input {
      flex: 1;
      border: none;
      background: transparent;
      font-size: 16px;
      outline: none;

      &:focus {
        border-bottom: 1px solid colors.$buttonBlue;
      }
    }

    .subtask_icons {
      display: flex;
      align-items: center;
      gap: 4px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out;
    }

    /* ================= SVG ICON BUTTON ================= */

    .icon_btn {
      width: 32px;
      height: 32px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: colors.$white;
      color: colors.$black;

      border: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 0;

      svg {
        width: 14px;
        height: 14px;
        display: block;
      }

      &:hover {
        color: colors.$buttonBlue;
      }
    }

    .separator {
      width: 1px;
      height: 16px;
      background-color: #d1d1d1;
      margin: 0 4px;
    }
  }


  footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;

    button {
      background: colors.$buttonGrey;
      color: white;
      padding: 16px 32px;
      border-radius: 10px;
      border: none;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background: colors.$pbBlue;
      }
    }
  }
}