@use "../../../../../styles/global-styles.scss";
@use "../../../../../styles/colors.scss";
@use "../../../../../../styles.scss";

// #######################################################################
// ------------------------------ Show-Area ------------------------------
// #######################################################################

.dialog_show {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 4px;
  width: 525px;
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
      font-size: 24px;
      display: flex;
      gap: 10px;
      color: colors.$white;
      background: #0038FF;
      border-radius: 8px;
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40px;
      right: 40px;

      width: 32px;
      height: 32px;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      color: colors.$buttonGrey;

      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: #D9D9D9; // Hover-Kreis
      }

      svg {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
      }
    }

  }

  .area_title {
    display: flex;
    flex-direction: column;

    .task_title {
      font-weight: 700;
      font-size: 61px;
      padding-top: 24px;
    }

    .task_description {
      font-weight: 400;
      font-size: 20px;
      padding-top: 20px;
    }
  }

  .task_info {
    display: flex;
    // justify-content: space-between;
    padding-top: 20px;

    .task_info_space_1 {
      margin-left: 20px;
    }

    .task_info_space_2 {
      margin-left: 38px;
    }

    span:nth-child(1) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
    }

    span:nth-child(2) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$black;
    }
  }

  .assigned_title {
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    color: colors.$bgGrey;
  }

  .area_assigned {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;

    p {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 7px 16px;
      border-radius: 10px;
      margin: 0;

      span:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid colors.$white;
        color: colors.$white;
        font-size: 16px;
        font-weight: 400;
        background-color: colors.$bgGreen;
      }

      span:nth-child(2) {
        font-size: 19px;
        font-weight: 400;
        color: colors.$black;
      }
    }
  }

  .subtasks_title {
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    color: colors.$bgGrey;
  }

  .subtasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 4px;

    p {
      display: flex;
      align-items: center;
      padding-top: 16px;
      gap: 8px;

      .checkbox_icon {
        position: relative;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: colors.$bgGrey;

        .box,
        .check {
          position: absolute;
          top: 0;
          left: 0;
        }

        .check {
          opacity: 0;
          transition: opacity 150ms ease-in-out;
        }

        &.done {
          .check {
            opacity: 1;
          }
        }
      }
    }
  }


  footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    button {
      font-size: 16px;
    }

    .btn-delete,
    .btn-edit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      background: transparent;
      border: none;
      cursor: pointer;

      font-size: 16px;
      color: colors.$bgGrey;

      padding: 8px 12px;
      border-radius: 8px;
    }

    .btn-delete:hover,
    .btn-edit:hover {
      color: colors.$buttonBlue;
    }

    .btn-delete:hover svg,
    .btn-edit:hover svg {
      color: colors.$buttonBlue;
    }


  }
}

.d_none {
  display: none !important;
}

/* ------------------------------- EditBereich ------------------------------ */
.dialog_edit {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  width: 440px; // evt habt ihr tipps zur breite?

  header {
    display: flex;
    align-self: flex-end;
  }

  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;

      .required {
        color: colors.$errorRed;
      }
    }

    input {
      box-sizing: border-box;
      padding: 12px 21px;
      border: 1px solid colors.$bgMiddleGrey;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 20px;
      height: 48px;
      width: 100%;

      &::placeholder {
        color: colors.$bgMiddleGrey;
      }
    }
  }

  .task_info {
    display: flex;
    justify-content: space-between;

    span:nth-child(1) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
    }

    span:nth-child(2) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$black;
    }
  }

  .assigned_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .area_assigned {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid colors.$white;
      color: colors.$white;
      font-size: 16px;
      font-weight: 400;
      background-color: colors.$bgGreen;
    }
  }

  .subtasks_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .subtasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    p {
      display: flex;
      gap: 8px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}