@use '../../../../../styles/colors.scss';

.dialog_edit {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  padding-right: 25px;
  width: 525px;
  max-height: 800px;

  @media (max-width: 650px) {
    width: 400px;
  }

  @media (max-width: 420px) {
    width: 300px;
    max-height: 95vh;
    padding: 30px;
    padding-right: 10px;
  }

  header {
    align-self: flex-end;
  }

  .close {
    color: colors.$buttonGrey;
    &:hover {
      display: block;
      background-color: #d9d9d9;
    }
  }

  main {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    box-sizing: content-box;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
      border-radius: 12px;
      border: 4px solid transparent;
      background-clip: content-box;
    }
  }

  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input[type="date"] {
      font-family: 'Inter', sans-serif;
    }

    label {
      font-size: 20px;
      margin-top: 30px;
    }

    input,
    select {
      padding: 12px 21px;
      border: 1px solid colors.$bgMiddleGrey;
      border-radius: 10px;
      font-size: 16px;
      width: 100%;
      outline: none;

      &:focus {
        border-color: colors.$buttonBlue;
      }
    }
  }

  .area_prio_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 20px;
      margin-top: 30px;
    }

    .prio_buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 16px;
      width: 100%;

      @media (max-width: 420px) {
        flex-direction: column;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 10px;
        gap: 8px;
        background: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: black;
        transition: all 100ms ease-in-out;

        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        }

        &.active_urgent {
          background: #ff3d00;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }

        &.active_medium {
          background: #ffa800;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }

        &.active_low {
          background: #7ae229;
          color: white;
          font-weight: 700;

          svg path {
            fill: white;
          }
        }
      }
    }
  }

  .assigned {

    label {
      font-size: 20px;
    }
    
    .area_assigned {
      width: 100%;

      mat-option.mat-selected .mat-pseudo-checkbox {
        border-color: colors.$white;
      }

      mat-option.mat-selected .mat-pseudo-checkbox::after {
        border-color: colors.$white;
      }

      @media (max-width: 420px) {
        .mat-mdc-form-field mat-label {
          font-size: 12px;
        }
      }

      .assigned_logos {
        display: flex;
        gap: 8px;
        margin-top: 8px;
        flex-wrap: wrap;
        color: #f0f0f0;
      }

      .sc_logo {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .subtasks {

    label {
      font-size: 20px;
    }

    .subtask_input_wrapper {
      cursor: pointer;
      border: #d1d1d1 1px solid;
      border-radius: 15px;
      background-color: colors.$white;
      display: flex;
      flex: 1;
      align-items: center;
      width: 100%;

      input {
        padding: 12px 16px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        width: 100%;
        outline: none;
        cursor: pointer;
      }

      .input_icon_btn {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: colors.$black;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
        background-color: transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          border: colors.$bgMiddleGrey;
          transition: background-color 150ms ease-in-out;
        }
      }

      .subtask_input_icons {
        display: flex;
        align-items: center;
      }
      .separator {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;
      }

      &:focus-within {
        .input_icon_btn {
          opacity: 1;
          visibility: visible;
        }
        .separator {
          opacity: 1;
          visibility: visible;
        }
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .subtask_list_edit {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .subtask_item_edit {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: colors.$bgLightGrey;
      border-radius: 8px;
    }

    &:hover .subtask_icons {
      opacity: 1;
      visibility: visible;
    }

    &.editing {
      background-color: colors.$white;
      border-bottom: 2px solid colors.$buttonBlue;
      border-radius: 0;
    }
  }

  .bullet_point {
    margin-right: 12px;
    font-size: 20px;
    line-height: 1;
  }

  .subtask_input {
    flex: 1;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;

    @media (max-width: 420px) {
      min-width: 0;
      resize: none;
      overflow: hidden;
      line-height: 1.2;
      font-size: 12px;
    }
  }

  .subtask_icons {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }

  /* ================= SVG ICON BUTTON ================= */

  .icon_btn {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: colors.$bgLightGrey;
    color: colors.$black;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;

    svg {
      width: 14px;
      height: 14px;
      display: block;
    }

    &:hover {
      color: colors.$buttonBlue;
    }
  }

  .edit_task_btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$bgLightGrey;
    color: colors.$black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    transition: 0.2s ease-in-out;

    svg {
      width: 18px;
      height: 18px;
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .separator {
    width: 1px;
    height: 16px;
    background-color: #d1d1d1;
    margin: 0 4px;
  }
}

.edit_footer {
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: colors.$buttonGrey;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      background: colors.$pbBlue;
      background: colors.$buttonBlue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
