@use "../../../../../styles/global-styles.scss";
@use "../../../../../styles/colors.scss";
@use "../../../../../../styles.scss";

.dialog_show {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 4px;
  width: 550px;

  header {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      padding: 4px 24px;
      gap: 10px;

      color: colors.$white;
      background: colors.$userColor11;
      border-radius: 8px;
    }
  }

  .area_title {
    display: flex;
    flex-direction: column;
    .task_title {
      font-weight: 700;
      font-size: 61px;
    }

    .task_description {
      font-weight: 400;
      font-size: 20px;
    }
  }

  .task_info {
    display: flex;
    justify-content: space-between;
    span:nth-child(1) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
    }
    span:nth-child(2) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$black;
    }
  }

  .assigned_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .area_assigned {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;

    p {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 7px 16px;
      border-radius: 10px;
      margin: 0;

      span:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid colors.$white;
        color: colors.$white;
        font-size: 16px;
        font-weight: 400;
        background-color: colors.$bgGreen;
      }

      span:nth-child(2) {
        font-size: 19px;
        font-weight: 400;
        color: colors.$black;
      }
    }
  }

  .subtasks_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .subtasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    p {
      display: flex;
      gap: 8px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.d_none {
  display: none !important;
}

/* ------------------------------- EditBereich ------------------------------ */
.dialog_edit {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  width: 440px; // evt habt ihr tipps zur breite?

  header {
    display: flex;
    align-self: flex-end;
  }

  .area_input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
      .required {
        color: colors.$errorRed;
      }
    }

    input {
      box-sizing: border-box;
      padding: 12px 21px;
      border: 1px solid colors.$bgMiddleGrey;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 20px;
      height: 48px;
      width: 100%;

      &::placeholder {
        color: colors.$bgMiddleGrey;
      }
    }
  }

  .task_info {
    display: flex;
    justify-content: space-between;
    span:nth-child(1) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$bgGrey;
    }
    span:nth-child(2) {
      font-weight: 400;
      font-size: 20px;
      color: colors.$black;
    }
  }

  .assigned_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .area_assigned {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid colors.$white;
      color: colors.$white;
      font-size: 16px;
      font-weight: 400;
      background-color: colors.$bgGreen;
    }
  }

  .subtasks_title {
    font-weight: 400;
    font-size: 20px;
    color: colors.$bgGrey;
  }

  .subtasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    p {
      display: flex;
      gap: 8px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
