@use './../../../styles/colors.scss';
@use './../../../styles/global-styles.scss';

.legal_notice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px; /* Abstand zwischen den Elementen laut Figma */

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 27px;
    color: colors.$black;
    margin: 0;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    background: none;
  }

  p,
  ul,
  li {
    font-size: 16px;
    color: colors.$black;
    margin: 0;
    span{
        color: colors.$buttonBlue;
    }
  }

  ul {
    padding-left: 20px;
    list-style: disc;
  }
}
