@import './../../../styles.scss';

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  position: absolute;
  padding: 0 2em 0 16em;
  align-items: center;
  box-shadow: 22vw -14px 24px black;


  .user {
      @media(max-width:500px){
    justify-content: center;
  }
    a {
      display: inline-block;
      cursor: pointer;

      // Desktop SVG Hover
      svg {
        display: block;
        width: 32px;
        height: 32px;
        transition: transform 0.2s;
        transform-box: fill-box;
        transform-origin: center;

        path {
          pointer-events: none; // bleibt so
        }
      }

      // Hover über das Elternelement <a>
      &:hover svg path.help-icon {
        transform: scale(1.1);
       
      }

      // Mobile IMG Hover
      img.help-icon {
        display: block;
        width: 32px;
        height: 32px;
        transition: transform 0.2s;

       
      }
    }

    > .icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    svg {
      rect:hover {
        cursor: pointer;
        fill: #d7d3d3;
      }

      path,
      circle {
        pointer-events: none;
      }
    }
  }

  .menu-icon {
    cursor: pointer;
  }

  .menu,
  .menu-mobil {
    position: absolute;
    top: 102%;
    background: $bgGrey;
    padding: 12px;
    border-radius: 15px 0 15px 15px;
  }

  .menu {
    right: 1%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 8px 0;
      }

      a {
        color: #A8A8A8;
        text-decoration: none;

        &:hover {
          background-color: $navActive;
        }
      }
    }
  }
}

// Media Queries bleiben unverändert!
@media(max-width: 1050px) {
  main {
    box-shadow: 0vw -14px 24px black;
    padding: 0;
    

    > div .user .menu-icon {
      display: none;
    }

    > .text_6 {
      display: none;
    }

    .user {
      display: flex;
      width: 92%;
      align-items: center;
      padding: 0 10% 0 9vw;
     
      

      > svg {
        flex-shrink: 0;
        
      }

      .help-icon {
        display: none; // Mobile SVG wird im Original ausgeblendet
      }
    }
  }

  .mobil {
    display: flex;
    justify-content: space-between;
    width: 68vw;
    padding: 3vw 0 3vw 3v
  }

  @keyframes run {
    0% { right: 0; }
    50% { right: 50; }
    100% { right: 100; }
  }

  .menu {
    display: none;
  }

  .menu-mobil {
    right: 3%;
    animation: run 0.2s linear;

    &.menu-mobil {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 8px 0;
      }

      a {
        color: #A8A8A8;
        text-decoration: none;

        &:hover {
          background-color: $navActive;
        }
      }
    }
  }
}

@media(min-width:2560px) {
  section {
    position: relative;
    margin: 0 25% 0 27%;

    > main {
      box-shadow: -1vw -14px 24px black;
      position: relative;
    }
  }
}
