@use './../../styles/colors.scss';

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  box-shadow: 0px 3px 2px #d1d1d1;
  align-items: center;
  padding-left: 10px;
  background-color: colors.$white;
}

@media (min-width: 1440px) {
  .widescreen {
    padding-right: calc((100% - 1440px));
  }
}

.text_6 {
  padding-left: 100px;
}

.content {
  background-color: colors.$white;
  display: flex;
  width: 100%;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  >span {
    margin-left: 10px;
  }

  >.user {
    @media (max-width: 500px) {
      justify-content: center;
    }

    a {



      svg {

        width: 20px;
        height: 20px;




        path {
          pointer-events: none;
        }
      }

      &:hover svg path.help-icon {
        transform: scale(1.1, 1.1);
        transform-box: fill-box;
        transform-origin: center;
        transition: transform 0.2s;
        cursor: pointer;
      }


    }

    >.icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    svg {

      rect:hover {
        cursor: pointer;
        fill: #d7d3d3;
        pointer-events: all;

      }

      path,
      circle {
        pointer-events: none;

        &:hover {
          fill: #d7d3d3;
        }
      }
    }
  }
}



.menu,
.menu-mobil {
  position: absolute;
  top: 102%;
  width: 130px;
  background-color: colors.$bgGrey;
  padding: 12px;
  border-radius: 15px 0 15px 15px;
}

.menu {
  top: 90px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 8px 0;
    }

    a {
      color: #a8a8a8;
      text-decoration: none;

      &:hover {
        background-color: colors.$navActive;
      }
    }
  }
}

@media (max-width: 1050px) {
  section {
    padding: 0;

    >.content {
      >span {
        margin-left: 60px;
      }

      >div .user .menu-icon {
        display: none;
      }

      >.text_6 {
        display: none;
      }

      .user {
        >svg {
          flex-shrink: 0;
        }
      }

      .user .icons a svg {
        display: none;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .mobil {
    display: flex;
    justify-content: space-between;
    width: 78vw;
    padding-left: 30px;
  }

  @keyframes run {
    0% {
      right: 0;
    }

    50% {
      right: 50;
    }

    100% {
      right: 100;
    }
  }

  .menu {
    display: none;
  }

  .menu-mobil {
    right: 9%;
    animation: run 0.2s linear;
    top: 92px;
    right: 8vw;

    &.menu-mobil {
      list-style: none;
      padding: 14px;
      margin: 0;

      li {
        margin: 8px 0;
      }

      a {
        color: #a8a8a8;
        text-decoration: none;

        &:hover {
          background-color: colors.$navActive;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  section {
    overflow-x: hidden;
    width: 100%;

    >section {
      box-shadow: inset 0px -1px #d1d1d1;

      >.content {
        overflow: auto;
        width: 1150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >span {
          margin-left: 60px;
        }
      }
    }
  }
}