@import './../../../styles.scss';

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    position: absolute;
    padding-left: 20vw;
    align-items: center;
    box-shadow: 12vw -14px 24px black;
    padding-right: 5%;

    >.user {


        >.help-icon {
            height: 32px;
            transition: height 2 s;

            &:hover {
                cursor: pointer;
                height: 35px;



            }
        }

        svg rect {
            &:hover {
                cursor: pointer;
                fill: #d7d3d3;
            }
        }


        svg path {
            pointer-events: none;
        }


        svg circle {
            pointer-events: none;
        }
    }
   .menu-icon {
  cursor: pointer;
}

.menu {
position: absolute;
    top: 102%;
    right: 4%;
    background: $bgGrey;
    padding: 12px;
    border-radius: 8px;
    border-radius: 15px 0 15px 15px;

}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 8px 0;
}

.menu a {
  color: #A8A8A8;
  text-decoration: none;
  &:hover{
    background-color: $navActive
  }
}
}