@use '../styles/colors.scss';

.widescreen {
  background-color: colors.$bgLightGrey;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .login_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -120px;
    gap: 16px;

    a {
      cursor: pointer;
      text-decoration: none;
      color: #a8a8a8;
      font-size: 16px;
      padding: 8px;
      display: flex;
      align-items: center;

      &:hover {
        color: #29abe2;
      }
    }
  }
}


.login_page {
  width: 100%;
  padding-right: calc((100% - 1920px));

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px;

    img {
      width: 100px;
      height: 121px;
      margin-top: 32px;
    }

    .header_right {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }

    .sign_up {
      background-color: colors.$bgGrey;
      color: colors.$white;
      width: 110px;
      height: 25px;
      border-radius: 10px;
      font-size: 16px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: colors.$buttonBlue;
        border-color: colors.$buttonBlue;
        cursor: pointer;
      }
    }
  }

  .main_contend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 406px);

    .middle_area {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      width: 652px;
      background-color: colors.$white;
      border-radius: 20px;

      .headline {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        .sign_up_arrow_container {
          display: flex;

          img {
            right: 120px;
            position: relative;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 61px;
        }

        .underline {
          width: 150px;
          height: 1px;
          border-style: solid;
          border-color: colors.$buttonBlue;
          margin-bottom: 16px;
        }
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
        width: 422px;

        .input_wrapper {
          border-style: solid;
          border-radius: 10px;
          border-color: colors.$bgMiddleGrey;
          border-width: thin;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          height: 48px;
        }

        .middle_bottom_area {
          display: flex;
          justify-content: center;
          gap: 30px;

          .policy_text {
            display: flex;
            gap: 10px;

            .policy {
              color: colors.$buttonBlue;
            }
          }

          .dark_button {
            background-color: colors.$bgGrey;
            color: colors.$white;
            width: 110px;
            height: 25px;
            border-radius: 10px;
            font-size: 21px;
            padding: 15px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background-color: colors.$buttonBlue;
              border-color: colors.$buttonBlue;
              cursor: pointer;
            }
          }

          .light_button {
            background-color: colors.$white;
            border-style: solid;
            border-width: thin;
            border-radius: 10px;
            padding: 15px 0px;
            width: 177px;
            height: 25px;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              color: colors.$buttonBlue;
              border-color: colors.$buttonBlue;
              cursor: pointer;
            }
          }
        }

        input {
          outline: none;
          border-style: none;
          flex: 1;
        }
      }
    }
  }

  .sign_up_bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    .policy {
      color: colors.$buttonBlue;
    }

    .sign_up_button {
      background-color: colors.$bgGrey;
      color: colors.$white;
      width: 110px;
      height: 25px;
      border-radius: 10px;
      font-size: 21px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: colors.$buttonBlue;
        border-color: colors.$buttonBlue;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .widescreen {
    height: auto;
    min-height: 100vh;

    .login_footer {
      position: static;
      bottom: auto;
      margin-top: auto;
      padding-bottom: 24px;
    }
  }

  .login_page {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;

    header {
      display: contents;

      img {
        position: absolute;
        top: 32px;
        left: 32px;
        width: 64px;
        height: 78px;
        margin: 0;
      }

      .header_right {
        order: 3; /* Positioniert das Element nach dem Login-Fenster */
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 32px 0;
        justify-content: center;
      }
    }

    .main_contend {
      order: 2;
      height: auto;
      margin-top: 0;
      width: 100%;

      .middle_area {
        width: 396px;
        max-width: 90%;
        height: auto;
        min-height: 475px;
        padding: 32px 0;
        border-radius: 30px;
        gap: 32px;
        flex-direction: column;

        .headline {
          gap: 16px;

          h1 {
            font-size: 47px;
          }

          .underline {
            width: 88px;
          }
        }

        .inputs {
          width: 364px;
          max-width: 100%;
          padding: 0;
          gap: 16px;

          .middle_bottom_area {
            flex-direction: column;
            align-items: center;
            gap: 21px;

            .dark_button,
            .light_button {
              width: 180px;
              height: 51px;
              font-size: 16px;
              padding: 0;
              border-radius: 8px;
            }
          }
        }
      }
    }

    .login_footer {
      order: 4;
    }
  }
}

@media (max-width: 450px) {
  .login_page {
    header {
      img {
        top: 16px;
        left: 16px;
        width: 48px;
        height: 58px;
      }

      .header_right {
        flex-direction: row;
        gap: 12px;
      }
    }

    .main_contend {
      .middle_area {
        padding: 32px 16px;

        .headline h1 {
          font-size: 36px;
        }

        .inputs {
          width: 100%;
          .input_wrapper {
            height: 40px;
            input {
              font-size: 16px;
              min-width: 0;
            }
            img {
              width: 20px;
              height: 20px;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
