@use '../styles/colors.scss';
@use '../styles/global-styles.scss';

.overlay-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}
.join_logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 10000;
  animation: logoIntro 1.5s ease forwards;
  animation-delay: 0.5s;
}
.login_page > *:not(.join_logo) {
  opacity: 0;
  animation: showMain 1s forwards;
  animation-delay: 0.5s;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes logoIntro {
  to {
    top: 25px;
    left: 25px;
    width: 100px;
    transform: scale(1);
  }
}
@keyframes showMain {
  to {
    opacity: 1;
  }
}
.widescreen {
  position: absolute;
  inset: 0;
  background-color: colors.$white;
  opacity: 1;
  animation: fadeOut 1.5s ease forwards;
  animation-delay: 1s;
}
.login_page {
  width: 100%;
  padding-right: calc((100% - 1920px));
  background-color: colors.$bgLightGrey;
  height: 100vh;
  header {
    padding: 25px;
    img {
      width: 100px;
      height: 121px;
      margin-top: 32px;
    }
    .header_right {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
      margin-top: 20px;
      p {
        font-size: 20px;
      }
    }
    .sign_up {
      background-color: colors.$bgGrey;
      color: colors.$white;
      width: 91px;
      height: 49px;
      border-radius: 10px;
      font-size: 16px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: colors.$buttonBlue;
        border-color: colors.$buttonBlue;
        cursor: pointer;
      }
    }
  }
  .main_contend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 121px);
    .middle_area {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      width: 652px;
      background-color: colors.$white;
      border-radius: 20px;
      .headline {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        .sign_up_arrow_container {
          display: flex;
          img {
            right: 120px;
            position: relative;
            cursor: pointer;
          }
        }
        h1 {
          font-size: 61px;
        }
        .underline {
          width: 150px;
          height: 1px;
          border-style: solid;
          border-color: colors.$buttonBlue;
          margin-bottom: 16px;
        }
      }
      .inputs {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        width: 422px;
        .input_wrapper {
          border: 1px solid colors.$bgMiddleGrey;
          border-radius: 10px;
          background-color: colors.$white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px 21px;
          height: 48px;
          box-sizing: border-box;
          margin-bottom: 32px;
          cursor: text;
          &:focus-within {
            border-color: colors.$buttonBlue;
          }
        }
        .error-border {
          border-color: colors.$errorRed !important;
        }
        .error-text {
          color: colors.$errorRed;
          font-size: 16px;
          margin-top: -24px;
          text-align: left;
        }
        .middle_bottom_area {
          display: flex;
          justify-content: center;
          gap: 30px;
          .policy_text {
            display: flex;
            gap: 10px;

            .policy {
              color: colors.$buttonBlue;
            }
          }
    

          .button_light {
            &:hover {
              color: colors.$buttonBlue;
              cursor: pointer;
            }
          }
        }
        input {
          outline: none;
          border-style: none;
          flex: 1;
          font-size: 20px;
        }
      }
    }
  }
  .sign_up_bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    .policy {
      color: colors.$buttonBlue;
      text-decoration: none;
    }
    .sign_up_button {
      background-color: colors.$bgGrey;
      color: colors.$white;
      width: 110px;
      height: 25px;
      border-radius: 10px;
      font-size: 21px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        border-color: colors.$buttonBlue;
        cursor: pointer;
      }
     
    }
  }
}

      .button_dark {
            &:hover {
              background-color: colors.$buttonBlue;
              cursor: pointer;
              border-color: colors.$buttonBlue;
            }
             &:hover:not(:disabled) {
        background-color: colors.$buttonBlue;
      }
      &:disabled {
        background-color: #58677b;
        cursor: not-allowed;
        border-color: transparent;
      }
          }
.login_footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  bottom: 50px;

  a {
    cursor: pointer;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    &:hover {
      color: #29abe2;
    }
  }
}
