<main class="main-area">

  <section class="contacts-wrapper">

    <!-- Add contact button -->
    <button class="add-contact-btn" (click)="onAddContact()">
      Add new contact
      <span class="add-contact-icon">👤+</span>
    </button>

    <!-- Contacts-SROLL-AREA -->
    <div class="contacts-scroll-area">

      <div *ngFor="let group of groupedContacts" class="contacts-group">

        <div class="group-letter">{{ group.letter }}</div>

        <div *ngFor="let c of group.contacts" class="contact-box">

          <div class="contact-avatar" [style.backgroundColor]="c.color">
            {{ getInitials(c.name) }}
          </div>

          <div class="contact-info">
            <div class="contact-name text_3">{{ c.name }}</div>
            <div class="contact-email">{{ c.email }}</div>
          </div>

        </div>

        <img class="contact-divider" src="/IMG/Frame-120.svg" alt="divider">

      </div>

    </div>

  </section>

  <!-- SINGLE-Contact -->
  <section>
    <app-single-contact></app-single-contact>
  </section>

</main>