@import './../../../../styles.scss';

.contact_section {
  display: flex;
  @media (max-width: 1050px) {
    display: block;
  }
}

.list_contact {
  @media (max-width: 1050px) {
    &.d_none_mobile {
      display: none;
    }
  }
}

.single_contact {
  padding-left: 64px;
  width: 100%;
  h1 {
    background: transparent;
  }
  @media (max-width: 1050px) {
    display: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

    &.d_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-top: 50px;

  > div {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  h1 {
    font-size: 47px;
  }

  p {
    font-size: 27px;
    font-weight: 400;
  }

  .d_none {
    display: none;
  }

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 25px;
    gap: 0;
    justify-content: space-between;
    width: 100%;

    > div {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    .seperator {
      display: none;
    }

    .seperator.d_none {
      display: block;
      width: 90px;
      height: 3px;
      background-color: $buttonBlue;
      border: none;
      margin: 8px 0;
    }

    h1 {
      font-size: 44px;
    }
    
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.seperator {
  height: 59px;
  border: 2px solid $buttonBlue;
}

.seperator_contacts {
  height: 1px;
  background-color: $bgMiddleGrey;
}

.return_button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
  }
  @media (max-width: 1050px) {
    display: block;
    position: absolute;
    right: 16px;
    top: 40px;
  }
}
