@use '../../../styles/colors.scss';
@use '../../../styles/global-styles.scss';

.contact_section {
  display: flex;
  @media (max-width: 1050px) {
    display: block;
  }
}

.list_contact {
  @media (max-width: 1050px) {
    &.d_none_mobile {
      display: none;
    }
  }
}

.single_contact {
  padding-left: 64px;
  width: 100%;
  h1 {
    background: transparent;
  }
  @media (max-width: 1050px) {
    display: none;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    &.d_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-top: 50px;

  > div {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  h1 {
    font-size: 47px;
  }

  p {
    font-size: 27px;
    font-weight: 400;
  }

  .d_none {
    display: none;
  }

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 25px;
    gap: 0;
    justify-content: space-between;
    width: 100%;

    > div {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    .seperator {
      display: none;
    }

    .seperator.d_none {
      display: block;
      width: 90px;
      height: 3px;
      background-color: colors.$buttonBlue;
      border: none;
      margin: 8px 0;
    }

    h1 {
      font-size: 44px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.seperator {
  height: 59px;
  border: 2px solid colors.$buttonBlue;
}

.seperator_contacts {
  height: 1px;
  background-color: colors.$bgMiddleGrey;
}

.return_button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
  }
  @media (max-width: 1050px) {
    display: block;
    position: absolute;
    right: 16px;
    top: 40px;
  }
}



:host ::ng-deep app-dialog {
  .dialog {
    background: colors.$white;
    border-radius: 30px;
    overflow: hidden; // clippt die Rundung
  }

  .sc_dialog {
    max-width: 1212px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;

    @media (max-width: 1050px) {
      flex-direction: column;
      height: auto;
      align-items: center;
    }

    .close {
      top: 48px;
      right: 48px;
      width: 32px;
      height: 32px;
      background: transparent;
      position: absolute;
      border: none;
      cursor: pointer;

      @media (max-width: 1050px) {
        top: 24px;
        right: 24px;
        color: colors.$white;
        z-index: 11;
      }

      img {
        width: 14px;
        height: 14px;
        top: 9px;
        left: 9px;
        pointer-events: none;
      }
    }
  }

  .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    background-color: colors.$bgGrey;
    padding: 60px 40px 60px 40px;

    @media (max-width: 1200px) {
      width: 360px;
    }

    @media (max-width: 1050px) {
      width: 100%;
      padding: 80px 40px 80px 40px;
      z-index: 10;
      img {
        display: none;
      }
    }

    @media (max-width: 500px) {
      padding: 40px 24px;
    }

    .seperator {
      height: 0px;
      width: 90px;
      border-bottom: 3px solid colors.$buttonBlue;
      margin-top: 20px;
    }

    img {
      height: 64px;
      width: 52px;
    }

    span {
      font-size: 60px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 27px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .mid_side {
    display: flex;
    align-items: center;
    margin: 0 0px;

    @media (max-width: 1200px) {
      font-size: 20px;
      margin: -60px 0px 0px 0px;
    }

    .sc_logo,
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid colors.$white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      object-fit: cover;
      background-color: colors.$bgGrey;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 47px;
      font-weight: 500;
      color: colors.$white;
    }
  }

  .right_side {
    background: colors.$white;
    padding: 60px 60px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @media (max-width: 1050px) {
      width: 100%;
      padding: 40px 20px;
      align-items: center;
    }

    @media (max-width: 500px) {
      padding: 20px 16px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    label {
      border: 1px solid colors.$bgMiddleGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 13px 21px;
      width: 420px;
      transition: border-color 150ms ease;

      @media (max-width: 500px) {
        width: 100%;
      }

      &:hover {
        border-color: colors.$buttonBlue;
      }

      &:has(input.ng-invalid) {
        border-color: colors.$errorRed;
      }

      input {
        border: none;
        font-size: 20px;
        font-weight: 400;
        flex: 1;

        &:focus {
          outline: none;
        }
      }

      img {
        height: 24px;
        width: 24px;
      }
    }

    .error-msg {
      color: colors.$errorRed;
      font-size: 14px;
      margin-top: -20px;
      margin-left: 4px;
    }
  }

  .dialog_buttons {
    display: flex;
    gap: 24px;
    white-space: nowrap;

    @media (max-width: 500px) {
      gap: 12px;
    }

    .button_light {
      font-size: 20px;
      font-weight: 400;
      width: 126px;
      padding: 16px 8px;
      border-radius: 16px;
      background-color: colors.$white;
      border: 1px solid colors.$bgGrey;
    }

    .button_dark {
      font-size: 21px;
      font-weight: 700;
      width: auto;
      padding: 16px 24px;
      border-radius: 16px;
      background-color: colors.$bgGrey;
      color: colors.$white;
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .button_light:hover {
      color: colors.$buttonBlue;
      border-color: colors.$buttonBlue;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }

    .button_dark:hover {
      background-color: colors.$buttonBlue;
      color: colors.$white;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }
  }
}