<section class="main-area">
  <article class="contacts-wrapper">
    <!-- Add contact button -->
    <button class="add-contact-btn text_4" (click)="onAddContact()">
      Add new contact
      <img class="add-contact-icon" src="/IMG/person_add.svg" alt="Add person icon" />
    </button>

    <!-- Contacts-SROLL-AREA -->
    <div class="contacts-scroll-area">
      <div *ngFor="let group of groupedContacts$ | async" class="contacts-group">
        <div class="group-letter text_6">{{ group.letter }}</div>

        <div
          *ngFor="let c of group.contacts"
          class="contact-box"
          (click)="onSelectContact(c.id)"
          [class.active]="selectedContactId() === c.id"
        >
          <div class="contact-avatar" [style.backgroundColor]="c.color">
            {{ getInitials(c.name) }}
          </div>

          <div class="contact-info">
            <div class="contact-name text_3">{{ c.name }}</div>
            <div class="contact-email">{{ c.email }}</div>
          </div>
        </div>

        <img class="contact-divider" src="/IMG/Frame-120.svg" alt="divider" />
      </div>
    </div>
  </article>

  <!-- SINGLE-Contact -->
  <article class="single-contact">
    <app-single-contact *ngIf="selectedContactId() as id" [contactId]="id"></app-single-contact>
  </article>
</section>

<app-dialog #addDialog>
  <!-- Content -->
  <div>
    <button class="close" type="button" (click)="addDialog.close()">X</button>
  </div>
</app-dialog>
