@import './../../../../styles.scss';

//  #######################
//  MAIN-Container-Contacts
//  #######################


/* -------------------------- Singe-Contact:Header -------------------------- */
.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;

  p {
    font-size: 27px;
  }
}
.seperator {
  height: 59px;
  border: 3px solid #29abe2;
  border-radius: 3px;
}

.main-area {
  display: flex;
  flex-direction: row;
}


// ###################
// CONTACT-LIST
// ###################

.contacts-wrapper {
  width: 100%;
  max-width: 456px;
  /* Vorgabe von dir */
  height: 100%;
  padding: 24px;
  background-color: $white;
  box-sizing: border-box;
}

.add-contact-btn {
  width: 350px;
  height: 50px;
  background-color: $buttonGrey;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover {
    background-color: $buttonBlue;
    transition: background-color 150ms ease-in-out;
  }
}

.contacts-scroll-area {
  overflow-y: auto;
  margin-top: 24px;
  padding-right: 8px;
  max-height: calc(100vh - 122px);
}

/* Alphabet-Gruppen */
.contacts-group {
  margin-bottom: 12px;
}

.group-letter {
  margin-bottom: 8px;
}


/* ############################ */
/* CONTACT-LIST Box (344 × 100) */
/* ############################ */
.contact-box {
  width: 344px;
  height: 100px;
  background-color: $white;
  border-radius: 16px;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  transition: background-color 120ms ease-in-out;

  &:hover {
    background-color: $bgLightGrey;
    cursor: pointer;
  }
}

/* Avatar */
.contact-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

/* Name + Email */
.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-email {
  color: $buttonBlue;
  font-weight: 400;
  ;
  font-size: 16px;
}

/* SVG-Divider */
.contact-divider {
  width: 100%;
  margin: 12px 0;
  display: block;
}

/* ALTEN DIVIDER RESTLOS ENTFERNEN */
.divider {
  display: none;
}



/* ################## */
/* ADD-CONTACT-DIALOG */
/* ################## */

:host ::ng-deep app-dialog.add-contact-dialog {

  /* Dialog-Hülle */
  .dialog {
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
  }

  /* Dialog-Inhalt */
  .sc_dialog {
    max-width: 1212px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    gap: 20px;

    .close {
      position: absolute;
      top: 48px;
      right: 48px;

      width: 32px;
      height: 32px;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 50;

      position: absolute;

      img {
        width: 14px;
        height: 14px;

        position: absolute;
        top: 9px;
        left: 9px;

        pointer-events: none;
      }
    }

  }

}

/* --------------------------- */
/* Left Side 
  /* --------------------------- */
.left_side {
  width: 480px;
  background-color: $bgGrey;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;

  img {
    width: 52px;
    height: 64px;
  }

  span {
    font-size: 60px;
    font-weight: 700;
    color: $white;
    margin-top: 32px;
  }

  p {
    margin-top: 16px;
    font-size: 27px;
    font-weight: 400;
    color: $white;
  }

  .seperator {
    height: 0;
    width: 90px;
    border-bottom: 3px solid $buttonBlue;
    margin-top: 32px;
  }
}

/* --------------------------- */
/* Middle (Avatar-circle)
  /* --------------------------- */
.mid_side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.logo_container {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  background-color: $bgYellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc_logo {
  fill: $white;
  width: 43px;
  height: 43px;
}

/* --------------------------- */
/* Right Side (Formular) 
  /* --------------------------- */
.right_side {
  background-color: $white;
  padding: 60px 60px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  flex-grow: 1;
  position: relative;
}

.button_dark img {
  width: 24px;
  height: 24px;
}


/* Formular-Felder */
form.contact_form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  label.field {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 13px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;

    &:hover {
      border-color: $buttonBlue;
    }

    input {
      border: none;
      width: 100%;
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

/* Buttons */
.dialog_buttons {
  display: flex;
  gap: 20px;

  .button_light {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: $white;
    border: 1px solid $bgGrey;
  }

  .button_dark {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: $bgGrey;
    color: $white;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .button_light:hover {
    background-color: $buttonBlue;
    color: $white;
    border-color: $buttonBlue;
    transition: background-color 150ms ease-in-out;
  }

  .button_dark:hover {
    background-color: $buttonBlue;
    color: $white;
    transition: background-color 150ms ease-in-out;
  }
}