@use '../../../../styles/colors.scss';
@use '../../../../styles/global-styles.scss';

.sc_information--active {
  opacity: 1;
  animation: sc-slide-in 280ms ease forwards;

  @keyframes sc-slide-in {
    from {
      opacity: 0;
      transform: translateX(1200px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (max-width: 1050px) {
  .sc_information--active {
    animation: none;
  }
}

.sc_top {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 40px;
  overflow: hidden;

  .sc_menu {
    gap: 8px;

    h2 {
      color: colors.$black;
      background: transparent;
    }

    >div {
      display: flex;
      gap: 16px;
    }

    button {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      gap: 4px;
      cursor: pointer;

      &:hover {
        color: colors.$buttonBlue;
      }

      svg {
        height: 24px;
        width: 24px;
        display: flex;
        align-self: flex-end;
      }

      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
      }

      @media (max-width: 1050px) {
        display: none;
      }
    }
  }

  // Erst die größere Breite
  @media (max-width: 1250px) {
    gap: 20px;

    h2 {
      font-size: 24px;
    }
  }

  // Dann die kleinere Breite (überschreibt ggf. Werte)
  @media (max-width: 1050px) {
    h2 {
      font-size: 36px;
    }
  }
}

.sc_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid colors.$white;
  border-radius: 70px;
  height: 120px;
  width: 120px;

  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-weight: 500;
  color: colors.$white;
  flex-shrink: 0;

  @media (max-width: 1250px) {
    height: 80px;
    width: 80px;
    font-size: 36px;
  }

  @media (max-width: 1050px) {
    font-size: 27px;
    font-weight: 400;
  }
}

.sc_bot {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 59px;
  gap: 59px;
  width: 100%;

  p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    strong {
      font-size: 16px;
      font-weight: 700;
    }

    a {
      color: colors.$buttonBlue;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
    }
  }

  @media (max-width: 1050px) {
    gap: 21px;
  }
}

/* -------------------------- Media for max 1050px -------------------------- */
.circle_menu {
  display: none;

  @media (max-width: 1050px) {
    display: grid;
    place-items: center;
    position: fixed;
    right: 32px;
    bottom: 100px; 
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    color: colors.$white;
    background-color: colors.$buttonGrey;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 0;
    cursor: pointer;
    z-index: 97;

    img {
      width: 24px;
      height: 24px;
      filter: brightness(0) invert(1);
    }
  }
}

.circle_menu+div {
  display: none;

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 140px;
    margin-top: 10px;
    margin-left: 20px;

    position: fixed;
    right: 32px;
    bottom: 100px; // Startposition beim Button
    background: colors.$white;
    box-shadow: -6px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px 16px 0 16px;
    z-index: 98;

    transform: scale(0); // Besserer Effekt für Menü
    transform-origin: bottom right;
    opacity: 0;
    pointer-events: none;
    transition: transform 220ms ease-in-out, opacity 220ms ease-in-out;

    &.is-open {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      height: 40px;
      padding: 8px;
      border: none;
      background: transparent;
      color: colors.$black;
      font: 400 16px/1.2 'Inter', sans-serif;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background-color: colors.$bgGrey;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* ------------------------------- Dialog:Edit ------------------------------ */

.mid_side {
  display: flex;
  align-items: center;
  margin: 0 40px;
}


:host ::ng-deep app-dialog {
  .dialog {
    background: colors.$white;
    border-radius: 30px;
    overflow: hidden; // clippt die Rundung
  }

  .sc_dialog {
    max-width: 1212px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;

    @media (max-width: 1050px) {
      flex-direction: column;
      height: auto;
      align-items: center;
    }

    .close {
      top: 48px;
      right: 48px;
      width: 32px;
      height: 32px;
      background: transparent;
      position: absolute;
      border: none;
      cursor: pointer;

      @media (max-width: 1050px) {
        top: 24px;
        right: 24px;
        color: colors.$white;
        z-index: 11;
      }

      img {
        width: 14px;
        height: 14px;
        top: 9px;
        left: 9px;
        pointer-events: none;
      }
    }
  }

  .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    background-color: colors.$bgGrey;
    padding: 60px 40px 60px 40px;

    @media (max-width: 1200px) {
      width: 360px;
    }

    @media (max-width: 1050px) {
      width: 100%;
      padding: 80px 40px 80px 40px;
      z-index: 10;
      img {
        display: none;
      }
    }

    @media (max-width: 500px) {
      padding: 40px 24px;
    }

    .seperator {
      height: 0px;
      width: 90px;
      border-bottom: 3px solid colors.$buttonBlue;
      margin-top: 20px;
    }

    img {
      height: 64px;
      width: 52px;
    }

    span {
      font-size: 60px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 27px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .mid_side {
    display: flex;
    align-items: center;
    margin: 0 0px;

    @media (max-width: 1200px) {
      font-size: 20px;
      margin: -60px 0px 0px 0px;
    }

    .sc_logo,
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid colors.$white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      object-fit: cover;
      background-color: colors.$bgGrey;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 47px;
      font-weight: 500;
      color: colors.$white;
    }
  }

  .right_side {
    background: colors.$white;
    padding: 60px 60px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @media (max-width: 1050px) {
      width: 100%;
      padding: 40px 20px;
      align-items: center;
    }

    @media (max-width: 500px) {
      padding: 20px 16px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    label {
      border: 1px solid colors.$bgMiddleGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 13px 21px;
      width: 420px;
      transition: border-color 150ms ease;

      @media (max-width: 500px) {
        width: 100%;
      }

      &:hover {
        border-color: colors.$buttonBlue;
      }

      &:has(input.ng-invalid) {
        border-color: colors.$errorRed;
      }

      input {
        border: none;
        font-size: 20px;
        font-weight: 400;
        flex: 1;

        &:focus {
          outline: none;
        }
      }

      img {
        height: 24px;
        width: 24px;
      }
    }

    .error-msg {
      color: colors.$errorRed;
      font-size: 14px;
      margin-top: -20px;
      margin-left: 4px;
    }
  }

  .dialog_buttons {
    display: flex;
    gap: 24px;
    white-space: nowrap;

    @media (max-width: 500px) {
      gap: 12px;
    }

    .button_light {
      font-size: 20px;
      font-weight: 400;
      width: 126px;
      padding: 16px 8px;
      border-radius: 16px;
      background-color: colors.$white;
      border: 1px solid colors.$bgGrey;
    }

    .button_dark {
      font-size: 21px;
      font-weight: 700;
      width: auto;
      padding: 16px 24px;
      border-radius: 16px;
      background-color: colors.$bgGrey;
      color: colors.$white;
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .button_light:hover {
      color: colors.$buttonBlue;
      border-color: colors.$buttonBlue;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }

    .button_dark:hover {
      background-color: colors.$buttonBlue;
      color: colors.$white;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }
  }
}