@import './../../../../../styles.scss';
@import './../../../../styles/colors.scss';

.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;

  p {
    font-size: 27px;
  }
}
.seperator {
  height: 59px;
  border: 3px solid #29abe2;
  border-radius: 3px;
}

.sc_information--active {
  opacity: 1;
  transform: translateX(0);
  animation: sc-slide-in 280ms ease forwards;
  @keyframes sc-slide-in {
    from {
      opacity: 0;
      transform: translateX(1200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.sc_top {
  display: flex;
  gap: 54px;

  .sc_menu {
    gap: 8px;
    > div {
      display: flex;
      gap: 8px;
      > button:nth-of-type(1) {
        width: 62px;
        height: 24px;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./../../../../../../public/IMG/edit-black.svg');
        &:hover {
          background-image: url('./../../../../../../public/IMG/edit-blue.svg');
        }
      }
      > button:nth-of-type(2) {
        width: 81px;
        height: 24px;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./../../../../../../public/IMG/delete-black.svg');
        &:hover {
          background-image: url('./../../../../../../public/IMG/delete-blue.svg');
        }
      }
    }
    // button {
    //   border: none;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   &:hover {
    //     color: lightblue;
    //     cursor: pointer;
    //   }
    //   img {
    //     height: 24px;
    //     width: 24px;
    //   }
    //   span {
    //     font-size: 16px;
    //     font-weight: 400;
    //   }
    // }
  }
}
.sc_logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: orange;
  border-radius: 70px;
  height: 120px;
  width: 120px;

  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-weight: 500;
  color: #ffffff;
}

.sc_bot {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 59px;
  gap: 59px;

  p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > strong {
      font-size: 16px;
      font-weight: 700px;
    }
    > a {
      color: #007cee;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

:host ::ng-deep app-dialog {
  .dialog {
    width: 100%;
    max-width: 1212px;
    background: transparent;
    border-radius: 30px;
    overflow: hidden; // clippt die Rundung
  }
  .sc_dialog {
    max-width: 1212px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    gap: 20px;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #2a3647;
      padding: 60px 40px 60px 40px;

      img {
        height: 64px;
        width: 52px;
      }
      span {
        font-size: 60px;
        color: rgb(255, 255, 255);
      }
    }

    .right_side {
      flex: 1;
      min-width: 0; // verhindert Abschneiden
      background: #fff;
      padding: 60px 60px 50px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      justify-content: center;

      .sc_logo {
        width: 120px;
        height: 120px;
      }
    }


  }
}
