@import './../../../../../styles.scss';



.sc_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: fit-content;

  p {
    font-size: 27px;
  }
}

.seperator {
  height: 59px;
  border: 3px solid #29abe2;
  border-radius: 3px;
}

.sc_information--active {
  opacity: 1;
  transform: translateX(0);
  animation: sc-slide-in 280ms ease forwards;
  @keyframes sc-slide-in {
    from {
      opacity: 0;
      transform: translateX(1200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.sc_top {
  display: flex;
  gap: 54px;

  .sc_menu {
    gap: 8px;
    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      gap: 4px;

      &:hover {
        color: lightblue;
        cursor: pointer;
      }
      svg {
        height: 24px;
        width: 24px;
        display: flex;
        align-self: self-end;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}
.sc_logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: orange;
  border-radius: 70px;
  height: 120px;
  width: 120px;

  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-weight: 500;
  color: #ffffff;
}

.sc_bot {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 59px;
  gap: 59px;

  p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > strong {
      font-size: 16px;
      font-weight: 700px;
    }
    > a {
      color: #007cee;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

/* ------------------------------- Dialog:Edit ------------------------------ */

:host ::ng-deep app-dialog {
  .dialog {
    background: transparent;
    border-radius: 30px;
    overflow: hidden; // clippt die Rundung
  }

  .sc_dialog {
    max-width: 1212px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    gap: 20px;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #2a3647;
      padding: 60px 40px 60px 40px;

      > .seperator {
        height: 0px;
        width: 90px;
        margin-top: 20px;
      }

      img {
        height: 64px;
        width: 52px;
      }
      span {
        font-size: 60px;
        color: rgb(255, 255, 255);
      }
    }

    .mid_side {
      display: flex;
      align-items: center;
      margin: 0 40px;
    }

    .right_side {
      background: #fff;
      padding: 60px 60px 50px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 32px;

      > button {
        align-self: self-end;
        border: none;
        cursor: pointer;
      }
    }

form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  label {
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 13px 21px;
    width: 420px;
    transition: border-color 150ms ease;

    &:hover {
      border-color: rgba(41, 171, 226, 1);
    }

    &:has(input.ng-invalid) {
      border-color: red;
    }

    input {
      border: none;
      font-size: 20px;
      font-weight: 400;
      flex: 1;

      &:focus {
        outline: none;
      }
    }

    img {
      height: 24px;
      width: 24px;
    }
  }

  .error-msg {
    color: red;
    font-size: 14px;
    margin-top: -20px;  
    margin-left: 4px;
  }
}


    .dialog_buttons {
      display: flex;
      gap: 20px;
      > .button_dark {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        gap: 4px;
        img {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
