@use '../../styles/colors.scss';
@use '../../styles/global-styles.scss';
@use '../../shared/dialog/dialog_contact.scss';

// Backdrop
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$black;
  z-index: 1000;
  width: none;
  animation: fadeIn 300ms ease-out;

  &.closing {
    animation: fadeOut 420ms ease-in;
  }

  // Dialog-Shell
  .dialog {
    max-height: none;
    height: auto;
    background: colors.$white;
    border-radius: 40px;
    box-shadow: 0 14px 48px rgba(0, 0, 0, 0.18);

    &.opening {
      animation: dialog-in 300ms ease-in;

      @media (max-width: 1050px) {
        animation: dialog-inY 300ms ease-in;
      }
    }

    &.closing {
      animation: dialog-out 450ms ease-out;

      @media (max-width: 1050px) {
        animation: dialog-outY 450ms ease-out;
      }
    }
  }
}

// Animations
@keyframes dialog-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes dialog-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(120%);
  }
}

@keyframes dialog-inY {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes dialog-outY {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(120%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
