@import './../../../styles.scss';

main {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    width: 234px;
    background-color: $bgGrey ;
    padding-top: 5%;
    padding-bottom: 5%;

    >div img {
        width: 100px;
        height: 120px;
        margin-bottom: 60%;
    }

    >div nav {
        display: flex;
        flex-direction: column;






        >a {
            display: flex;
            align-items: center;
            color: #FFFFFF;
            text-decoration: none;
            margin-top: 20%;
            transition: background-color 0.3s;
            padding-left: 19%;

            &.active-link {
                background-color: $navBgActiveGrey;
                pointer-events: none;
            }

            &:hover {

                background-color: $navActive;
            }

            >img {
                width: 30px;
                margin-right: 20%;
                height: auto;
                margin: 0 10px;
            }


            ;
        }
    }

    .Legal {
        display: flex;
        flex-direction: column;

        >a {
            color: #A8A8A8;
            text-decoration: none;
            margin-bottom: 25px;
            transition: color 0.3s;
            transition: font-size 0.1s;

            &.active-link {
                background-color: $navBgActiveGrey;
                pointer-events: none;
            }

            &:hover {
                color: $buttonBlue;
                font-size: 17px;
            }

        }
    }

}

@media(max-width: 900px) {
   
    main {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 80px;
        position: fixed;
        bottom: 0;

        >div img {
            display: none;
        }

        >div nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            >a {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 17px;

                >img {
                    display: block;
                    height: 24px;
                    width: auto;
                }
            }
        }

        .Legal {
            display: none;
        }
    }
}

@media(min-width:1921px){
    section{
        width: 100vw;
        height: 100vh;
        position: absolute;
        >main{
            position: absolute;
            margin-left: 25%;
            
        }
    }
}
