@import '../styles.scss';

// .router_wrapper {
//   margin-left: 16em;
//   padding-top: 6em;
//   max-height: 100vh;
//   overflow-y: hidden;

//   @media (max-width: 900px) {
//     // When the navigation bar moves down,
//     // free up the space on the left ...
//     margin-left: 0;
//   }
// }

.content {
  display: flex;
  width: 100%;
}

.right_wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1440px) {
  .widescreen {
   padding-right: calc((100% - 1440px));
  //  padding-left: calc((100% - 1920px) / 2);
  }
  .right_wrapper{
    padding-left: 234px;
  }
}
