@import '../styles.scss';

div {
  margin-left: 16em;
  padding-top: 6em;
  max-height: 100vh;
  overflow-y: hidden;

  @media(min-width:2560px) {
    margin-left: 33%;
    margin-right: 25%
  }

  @media (max-width: 900px) {
    // When the navigation bar moves down, 
    // free up the space on the left ...
    margin-left: 0;
  }
}