@use '../../../styles/colors.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-base {
  background: colors.$white;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

@media (max-width: 1050px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 9999;
    pointer-events: auto;
  }

  .overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$bgLightGrey;
  padding: 100px 40px 40px 96px;

  @media (max-width: 600px) {
    padding: 80px 24px 24px;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 56px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .headline {
      font-weight: 700;
      font-size: 58px;
      color: colors.$black;
      line-height: 120%;
      @media (max-width: 600px) {
        font-size: 34px;
      }
    }

    .divider {
      height: 59px;
      border-left: 3px solid colors.$buttonBlue;
      border-radius: 2px;
    }

    .slogan {
      font-weight: 400;
      font-size: 24px;
      color: colors.$bgGrey;
      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}

.area_summary {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: 600px) {
    align-items: center;
  }

  > section {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 560px;
    @media (max-width: 650px) {
      width: 100%;
    }
  }
}

.box_top,
.box_urgent,
.box_task_bord,
.box_task_progress,
.box_task_feedback {
  @include card-base;

  &:hover {
    transform: scale(1.05);
    background-color: colors.$buttonGrey;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);

    .symbol {
      background-color: colors.$white !important;
      svg,
      path {
        fill: colors.$black;
      }
    }

    .task_number,
    .task_area,
    .span1,
    .span2,
    .date,
    .deadline {
      color: colors.$white !important;
    }
  }
}

.area_top {
  display: flex;
  gap: 26px;

  .box_top {
    @include flex-center;
    gap: 18px;
    width: 100%;
    height: 164px;

    .symbol {
      @include flex-center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: colors.$bgGrey;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .task_number {
        font-weight: 600;
        font-size: 60px;
        line-height: 120%;
        color: colors.$black;
      }
      .task_area {
        font-weight: 400;
        font-size: 20px;
        color: colors.$bgGrey;
      }
    }
  }
}

.area_mid {
  .box_urgent {
    @include flex-center;
    justify-content: space-evenly;
    padding: 0 48px;
    height: 168px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      .symbol {
        background-color: colors.$bgOrange !important;
        svg,
        path {
          fill: colors.$white;
        }
      }
    }

    .urgent_left {
      display: flex;
      align-items: center;
      gap: 18px;

      .symbol {
        @include flex-center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: colors.$bgOrange;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        .task_number {
          font-weight: 600;
          font-size: 60px;
          line-height: 120%;
          color: colors.$black;
        }
        .task_area {
          font-weight: 700;
          font-size: 16px;
          color: colors.$bgGrey;
        }
      }
    }

    .divider {
      height: 102px;
      border-left: 2px solid colors.$bgMiddleGrey;
    }

    .urgent_right {
      p {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin: 0;

        .date {
          font-weight: 700;
          font-size: 21px;
          line-height: 120%;
          color: colors.$bgGrey;
        }
        .deadline {
          font-weight: 400;
          font-size: 16px;
          color: colors.$bgGrey;
        }
      }
    }
  }
}

.area_bot {
  display: flex;
  gap: 28px;

  .box_task_bord,
  .box_task_progress,
  .box_task_feedback {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 168px;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      text-align: center;

      .task_number {
        font-weight: 600;
        font-size: 60px;
        line-height: 120%;
        color: colors.$black;
      }
      .span1,
      .span2 {
        font-weight: 400;
        font-size: 20px;
        color: colors.$bgGrey;
      }
    }
  }
}

.area_site {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
  }

  @media (max-width: 1200px) {
    .greeting {
      font-size: 38px;
    }
    .name {
      font-size: 50px;
    }
  }

  @media (max-width: 1050px) {
    display: none;
  }

  @media (max-width: 600px) {
    align-items: center;
    .greeting {
      font-size: 32px;
    }
    .name {
      font-size: 10px;
    }
  }
}

.greeting {
  font-weight: 500;
  font-size: 30px;
  color: colors.$bgGrey;
}
.name {
  font-weight: 700;
  font-size: 32px;
  color: colors.$buttonBlue;
}

@media (max-width: 1050px) {
  .summary {
    padding: 32px 16px;

    &-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 28px;

      .headline {
        font-size: 47px;
        margin: 0;
        order: 1;
      }

      .slogan {
        font-size: 20px;
        margin: 0;
        order: 2;
      }

      .divider {
        display: block;
        width: 90px;
        height: 3px;
        background-color: colors.$buttonBlue;
        border: none;
        border-radius: 0;
        margin-top: 8px;
        order: 3;
      }
    }
  }

  .area_summary {
    width: 100%;
    gap: 24px;

    > section {
      width: 100%;
      gap: 16px;
    }
  }

  .area_top {
    flex-direction: row;
    gap: 16px;

    .box_top {
      height: 90px;
      width: 100%;

      .symbol {
        width: 40px;
        height: 40px;
        svg {
          width: 20px;
          height: 20px;
        }
      }

      p {
        .task_number {
          font-size: 40px;
        }
        .task_area {
          font-size: 14px;
        }
      }
    }
  }

  .area_mid {
    .box_urgent {
      height: 90px;
      padding: 16px;
      flex-direction: row;
      gap: 16px;

      .urgent_left {
        gap: 16px;
        .symbol {
          width: 40px;
          height: 40px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        p {
          .task_number {
            font-size: 40px;
          }
          .task_area {
            font-size: 14px;
          }
        }
      }

      .divider {
        height: 60px;
      }
    }
  }

  .area_bot {
    flex-direction: row;
    gap: 16px;

    .box_task_bord,
    .box_task_progress,
    .box_task_feedback {
      height: 90px;
      width: 100%;

      p {
        .task_number {
          font-size: 40px;
        }
        .span1,
        .span2 {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-height: 620px) {
  .summary {
    &-header {
      flex-direction: row;
      align-items: center;
    }
  }
}