@use '../../../styles/colors.scss';
@use 'summary-media';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-base {
  background: colors.$white;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

// Shared Typography
.task_number {
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  color: colors.$black;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: colors.$bgLightGrey;
  padding: 100px 40px 40px 96px;

  &-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 56px;

    .headline {
      font-weight: 700;
      font-size: 58px;
      color: colors.$black;
      line-height: 120%;
    }

    .divider {
      height: 59px;
      border-left: 3px solid colors.$buttonBlue;
      border-radius: 2px;
    }

    .slogan {
      font-weight: 400;
      font-size: 24px;
      color: colors.$bgGrey;
    }
  }
}

.area_summary {
  display: flex;
  align-items: center;
  gap: 56px;

  > section {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 560px;
  }
}

.box_top,
.box_urgent,
.box_task_bord,
.box_task_progress,
.box_task_feedback {
  @include card-base;

  &:hover {
    transform: scale(1.05);
    background-color: colors.$buttonGrey;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);

    .symbol {
      background-color: colors.$white !important;
      svg,
      path {
        fill: colors.$black;
      }
    }

    .task_number,
    .task_area,
    .span1,
    .span2,
    .date,
    .deadline {
      color: colors.$white !important;
    }
  }
}

.area_top {
  display: flex;
  gap: 26px;

  .box_top {
    @include flex-center;
    gap: 18px;
    width: 100%;
    height: 164px;

    .symbol {
      @include flex-center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: colors.$bgGrey;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      .task_area {
        font-weight: 400;
        font-size: 20px;
        color: colors.$bgGrey;
      }
    }
  }
}

.area_mid {
  .box_urgent {
    @include flex-center;
    justify-content: space-evenly;
    padding: 0 48px;
    height: 168px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      .symbol {
        background-color: colors.$bgOrange !important;
        svg,
        path {
          fill: colors.$white;
        }
      }
    }

    .urgent_left {
      display: flex;
      align-items: center;
      gap: 18px;

      .symbol {
        @include flex-center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: colors.$bgOrange;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        .task_area {
          font-weight: 700;
          font-size: 16px;
          color: colors.$bgGrey;
        }
      }
    }

    .divider {
      height: 102px;
      border-left: 2px solid colors.$bgMiddleGrey;
    }

    .urgent_right {
      p {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin: 0;

        .date {
          font-weight: 700;
          font-size: 21px;
          line-height: 120%;
          color: colors.$bgGrey;
        }
        .deadline {
          font-weight: 400;
          font-size: 16px;
          color: colors.$bgGrey;
        }
      }
    }
  }
}

.area_bot {
  display: flex;
  gap: 28px;

  .box_task_bord,
  .box_task_progress,
  .box_task_feedback {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 168px;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      text-align: center;

      .span1,
      .span2 {
        font-weight: 400;
        font-size: 20px;
        color: colors.$bgGrey;
      }
    }
  }
}

.area_site {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
  }
}

.greeting {
  font-weight: 500;
  font-size: 30px;
  color: colors.$bgGrey;
}
.name {
  font-weight: 700;
  font-size: 32px;
  color: colors.$buttonBlue;
}
