// TEST Drag&Drop ...
.drag-test-box {
    width: 200px;
    height: 100px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.board_columns {
    display: flex;
    gap: 16px;

    @media (max-width: 980px) {
        flex-direction: column;
    }


}

.board_column {
    width: 260px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 980px) {
        width: 800px;
    }

    @media (max-width: 850px) {
        width: 650px;
    }

    @media (max-width: 690px) {
        width: 500px;
    }

    @media (max-width: 550px) {
        width: 400px;
    }

    @media (max-width: 445px) {
        width: 270px;
    }
}

.column_title {
    font-weight: 700;
    font-size: 16px;
}

.column_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.add_task_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg rect {
        stroke: #4589ff;
    }
}


.column_drop_area {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.no_tasks_box {
    width: 100%;
    height: 48px;
    background-color: #E7E7E7;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #A8A8A8;
    font-size: 14px;
    font-weight: 400;
}

.task_card {
    cursor: grab;
}

.task_card:active {
    cursor: grabbing;
}