@use './../../../../styles/colors.scss';
@use './../../../../styles/global-styles.scss';



.contact_list_section {
  width: 100%;
  max-width: 456px;
  height: 100%;
  padding-left: 24px;
  background-color: colors.$white;
  box-sizing: border-box;
  box-shadow: 2px -1px 4px 1px colors.$bgMiddleGrey;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 8px;
  max-height: calc(100vh - 100px);

  @media (max-width: 1150px) {
    max-width: 380px;
  }

  @media (max-width: 1050px) {
    z-index: auto;
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    box-shadow: inset 0px 2px 4px -2px colors.$bgMiddleGrey;
    height: calc(100vh - 80px);
    max-height: none;
  }

  .button_container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: colors.$white;
    padding: 28px;
    display: flex;
    justify-content: center;

    @media (max-width: 1150px) {
    padding: 14px;
    }

    @media (max-width: 1050px) {
      display: none;
    }

    .button_new_contact {
      width: 350px;
      height: 50px;
      background-color: colors.$bgGrey;
      color: colors.$white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 21px;
      font-weight: 700;

      @media (max-width: 1150px) {
        width: 280px;
      }

      &:hover {
        background-color: colors.$buttonBlue;
        transition: background-color 150ms ease-in-out;
      }
    }
  }

  .circle_add_contact {
    display: none;

    @media (max-width: 1050px) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 100px;
      right: 32px;
      width: 56px;
      height: 56px;
      background-color: colors.$buttonGrey;
      border-radius: 50%;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      z-index: 99;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .contacts_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .divider {
      border-bottom: 1px solid colors.$bgMiddleGrey;
      width: 100%;
      margin: 8px 0;
    }

    .contact_area {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 24px;

      @media (max-width: 1050px) {
        padding: 0 16px;
      }
    }

    .contact_single {
      display: flex;
      gap: 35px;
      margin: 8px 0;
      padding: 15px 24px;
      border-radius: 10px;
      cursor: pointer;
      align-items: center;

      &:hover {
        background: linear-gradient(180deg, colors.$bgLightGrey 0%, colors.$bgMiddleGrey 100%);
        color: colors.$black;
      }

      &.active {
        background: colors.$bgGrey;
        color: colors.$white;

        @media (max-width: 1050px) {
      color: colors.$black;
          background: transparent;
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        border: 2px solid colors.$white;
        color: colors.$white;
        font-size: 12px;
        flex-shrink: 0;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 5px;

        span {
          color: inherit;
          border: none;
          width: auto;
          height: auto;
          font-size: 20px;
          font-weight: 400;
        }

        small {
          color: colors.$buttonBlue;
          font-size: 16px;
        }
      }
    }
  }
}

.confirmation_container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background-color: colors.$buttonGrey;
  color: colors.$white;
  padding: 16px 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px colors.$black(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1050px) {
  .confirmation_container {
    font-size: 16px;
    padding: 12px 24px;
    bottom: 10%;
  }
}

.confirmation_container--active {
  opacity: 0;
  animation: cc-fade-in-out 3500ms ease forwards;

  @keyframes cc-fade-in-out {
    0% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
    25% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    75% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  }
}

@media (max-width: 1050px) {
  .confirmation_container--active {
    animation: none;
  }
}

:host ::ng-deep app-dialog {
  .dialog {
    background: colors.$white;
    border-radius: 30px;
    overflow: hidden;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 120px);
  }

  .sc_dialog {
    max-width: 1212px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 20px;

    @media (max-width: 1050px) {
      flex-direction: column;
      height: auto;
      align-items: center;
    }

    .close {
      top: 48px;
      right: 48px;
      width: 32px;
      height: 32px;
      background: transparent;
      position: absolute;
      border: none;
      cursor: pointer;

      @media (max-width: 1050px) {
        top: 24px;
        right: 24px;
        color: colors.$white;
        z-index: 11;
      }

      img {
        width: 14px;
        height: 14px;
        top: 9px;
        left: 9px;
        pointer-events: none;
      }
    }
  }

  .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    background-color: colors.$bgGrey;
    padding: 60px 40px 60px 40px;

    @media (max-width: 1200px) {
      width: 360px;
    }

    @media (max-width: 1050px) {
      width: 100%;
      padding: 80px 40px 80px 40px;
      z-index: 10;
      img {
        display: none;
      }
    }

    @media (max-width: 500px) {
      padding: 40px 24px;
    }

    .seperator {
      height: 0px;
      width: 90px;
      border-bottom: 3px solid colors.$buttonBlue;
      margin-top: 20px;

      @media (max-width: 500px) {
        width: 60px;
        margin-top: 5px;
      }
    }

    img {
      height: 64px;
      width: 52px;
    }

    span {
      font-size: 60px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 40px;
      }

      @media (max-width: 500px) {
        font-size: 32px;
      }
    }

    p {
      font-size: 27px;
      font-weight: 700;
      color: colors.$white;
      margin-top: 32px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  .mid_side {
    display: flex;
    align-items: center;
    margin: 0 0px;

    @media (max-width: 500px) {
      font-size: 10px;
      margin: -60px 0px 0px 0px;
      z-index: 10;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
      margin: -60px 0px 0px 0px;
      z-index: 10;
    }

    .sc_logo,
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid colors.$white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      object-fit: cover;
      background-color: colors.$bgGrey;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 47px;
      font-weight: 500;
      color: colors.$white;

      @media (max-width: 500px) {
        width: 80px;
        height: 80px;
        font-size: 32px;
      }
    }
  }

  .right_side {
    background: colors.$white;
    padding: 60px 60px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    @media (max-width: 1050px) {
      width: 100%;
      padding: 40px 20px;
      align-items: center;
    }

    @media (max-width: 500px) {
      padding: 20px 16px;
      gap: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    label {
      border: 1px solid colors.$bgMiddleGrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 13px 21px;
      width: 420px;
      transition: border-color 150ms ease;

      @media (max-width: 500px) {
        width: 100%;
        padding: 6px 10px;
      }

      &:hover {
        border-color: colors.$buttonBlue;
      }

      &:has(input.ng-invalid) {
        border-color: colors.$errorRed;
      }

      input {
        border: none;
        font-size: 20px;
        font-weight: 400;
        flex: 1;

        &:focus {
          outline: none;
        }
        @media (max-width: 500px) {
          font-size: 12px;
        }
      }

      img {
        height: 24px;
        width: 24px;
      }
    }

    .error-msg {
      color: colors.$errorRed;
      font-size: 14px;
      margin-top: -20px;
      margin-left: 4px;
    }
  }

  .dialog_buttons {
    display: flex;
    gap: 24px;
    white-space: nowrap;

    @media (max-width: 500px) {
      gap: 12px;
    }

    .button_light {
      font-size: 20px;
      font-weight: 400;
      width: 126px;
      padding: 16px 8px;
      border-radius: 16px;
      background-color: colors.$white;
      border: 1px solid colors.$bgGrey;

      @media (max-width: 500px) {
        font-size: 10px;
        font-weight: 400;
        width: 90px;
        padding: 0px 4px;
      }
    }

    .button_dark {
      font-size: 21px;
      font-weight: 700;
      width: auto;
      padding: 16px 24px;
      border-radius: 16px;
      background-color: colors.$bgGrey;
      color: colors.$white;
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 500px) {
        font-size: 10px;
        font-weight: 400;
        width: 90px;
        padding: 0px 4px;
        gap: 0;
        display: flex;
        justify-content: center;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    .button_light:hover {
      color: colors.$buttonBlue;
      border-color: colors.$buttonBlue;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }

    .button_dark:hover {
      background-color: colors.$buttonBlue;
      color: colors.$white;
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }
  }
}