// GLOBAL COLOR-VARIABLES


// BASIC-COLORS ...
$white: #FFFFFF;
$black: #000000;
$errorRed: #E60026;
$bgGrey: #2A3647;
$bgOrange: #FF3D00;
$bgYellow: #FFA800;
$bgGreen: #7AE229;
$bgBrightGreen: #1FD7C1;


// MENU-BUTTONS ...
$menuAktiv: #2A3D59;
$menuNotAktiv: #CDCDCD;
$menuBgAktivGrey: #091931;
$menuBgNotAktivGrey: #2A3647;


// OTHER BUTTONS ...
$buttonGrey: #2A3647;
$buttonBlue: #29ABE2;


// COLORS FOR USERS ...
$userColor1: #FF7A00;
$userColor2: #FF5EB3;
$userColor3: #6E52FF;
$userColor2: #9327FF;
$userColor2: #00BEE8;
$userColor2: #1FD7C1;
$userColor2: #FF745E;
$userColor2: #FFA35E;
$userColor2: #FC71FF;
$userColor2: #FFC701;
$userColor2: #0038FF;
$userColor2: #C3FF2B;
$userColor2: #FFE62B;
$userColor2: #FF4646;
$userColor2: #FFBB2B;








