@use './app/styles/colors.scss';
@use './app/styles/global-styles.scss';
@use './app/shared/dialog/dialog.scss';
@use './app/shared/dialog/dialog_contact.scss';

/* --------------------------------- Styling -------------------------------- */



// GET FONT "Inter" ...
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}


// GLOBALE BASIC STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: colors.$black;
    background-color: colors.$white;
    overflow: hidden;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 61px;
    line-height: 1.2;
    color: colors.$black;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.2;
    color: colors.$black;
    background-color: colors.$white;
}

.main_body_m_g{
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 70px;

    h1{
        margin-bottom: 8px;
    }
    .text_3{
        margin-bottom: 8px;
        margin-top: 36px;
    }
    .text_7{
        margin-top: 28px;
    }
    ul{
        list-style: disc;   
        color: colors.$black;
        margin-left: 8px;
    }
    ol{
        list-style: decimal;   
        color: colors.$black;
        margin-left: 32px;
    }

}