@import './app/styles/colors.scss';
@import './app/styles/variables.scss';
@import './app/styles/global-styles.scss';

// GET FONT "Inter" ...
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// GLOBALE STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    background-color: $white;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 61px;
    line-height: 1.2;
    color: $black;
    background-color: $white;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 47px;
    line-height: 1.2;
    color: $black;
    background-color: $white;
}