.display_hauptsacheichsehewas {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.board {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}

.area_top {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;

  @media (max-width: 740px) {
    max-width: 700px;
  }

  >span {
    font-weight: 700;
    font-size: 61px;
    color: #000000;

    @media (max-width: 740px) {
      font-size: 47px;;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input {
    box-sizing: border-box;
    width: 312px;
    height: 48px;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;

    &::placeholder {
      color: #d1d1d1;
    }
  }
}