@use "../../../styles/colors.scss";

.add_task {
  display: flex;
  flex-direction: column;
  padding: 48px 110px;
  gap: 24px;
  max-width: 1440px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 700;
      font-size: 61px;
      color: #000000;
    }

    button {
      width: 32px;
      height: 32px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 24px;
      color: #2a3647;
      display: grid;
      place-items: center;
    }
  }

  .area_mid {
    display: flex;
    gap: 50px;

    .area_left,
    .area_right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;

      .carlenda {
        p { height: 24px; }
        .required { color: colors.$errorRed; }
      }

      form {
        height: 54px;

        input {
          height: 54px;
          border-style: solid;
          border-width: thin;
          &:focus {
            border-color: colors.$buttonBlue;
          }
        }
      }
    }

    .area_right {
      .priority {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 440px;

        .button_container {
          background-color: white;
          align-items: center;
          max-width: 136px;
          width: 136px;
          display: flex;
          justify-content: center;
          gap: 6px;
          border-radius: 13px;

          &:hover { cursor: pointer; box-shadow: -3px 5px 8px #aea9a9; }

          &.urgent {
            background-color: colors.$bgOrange;
            span, svg path { color: white; fill: white; }
            &:hover { box-shadow: 0 0 0; }
          }

          &.medium {
            background-color: colors.$bgYellow;
            span, svg path { color: white; fill: white; }
            &:hover { box-shadow: 0 0 0; }
          }

          &.low {
            background-color: colors.$bgGreen;
            span, svg path { color: white; fill: white; }
            &:hover { box-shadow: 0 0 0; }
          }

          .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            gap: 8px;
            height: 56px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: #000;

            &.active { background: colors.$bgOrange; color: #fff; font-weight: 700; }
            &.medium { background-color: colors.$bgYellow; color: white; }
            &.low { background-color: colors.$bgGreen; color: white; }
          }
        }
      }
    }
  }

  .assigned-logos { display: flex; gap: 8px; margin-top: 8px; }
  .sc_logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }

  .dropdown {
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;

    input[type="text"] {
      width: 100%;
      padding: 5px;
      height: 48px;
      cursor: pointer;
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        font-size: 20px;

        &:hover { background-color: colors.$bgLightGrey; }

        input[type="checkbox"] { width: 18px; height: 18px; cursor: pointer; }
      }
    }
  }

  div span.required { color: colors.$errorRed; }

  .assigned_to,
  .category {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    width: 100%;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    text-align: left;
  }

  .inner_subtask .inner_icons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-right: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: colors.$white;

    &:focus-within { border-color: colors.$buttonBlue; }
  }

  .subtask_list {
    &:hover { cursor: pointer; }

    input {
      width: 100%;
      border-style: none;
      background-color: transparent;
      font-size: 20px;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-style: none;

      &:hover .icons {
        opacity: 1;
        pointer-events: auto;

        img { cursor: pointer; }
      }
    }
  }

  .subtask_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover { background-color: #e6e6e6; }

    .task-wrapper { flex: 1; display: flex; align-items: center; }

    .icons {
      display: flex;
      gap: 5px;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease;

      &.editing {
        flex-direction: row-reverse;
        opacity: 1;
        pointer-events: auto;
        background-color: white;
      }
    }

    &:hover .icons { opacity: 1; pointer-events: auto; }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;

    span {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 20px;
      color: black;

      &.required { color: colors.$errorRed; }
    }

    div {
      display: flex;
      gap: 25px;

      .button_light {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 4px;
        width: 126px;
        height: 56px;
        border: 1px solid #2a3647;
        border-radius: 10px;
        background-color: #fff;
        color: #2a3647;
        font-size: 20px;
        font-weight: 400;
        flex-direction: row-reverse;
        cursor: pointer;

        &:hover { border-color: colors.$buttonBlue; color: colors.$buttonBlue; }
      }

      .button_dark {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 4px;
        width: 183px;
        height: 56px;
        background: #2a3647;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 21px;
        font-weight: 700;
        flex-direction: row-reverse;
        cursor: pointer;

        &:hover { background-color: colors.$buttonBlue; }
      }
    }
  }
}


.error-border { border: 1px solid red !important; border-radius: 10px; }
.error-text { color: red; font-size: 12px; }
.error_border_material { border-radius: 10px; border-color: colors.$errorRed; border-width: thin; }


.seperator { border-left: 1px solid #d1d1d1; }

.area_input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  textarea {
    display: flex;
    align-items: center;
    border-color: #e6e6e6;
    border-radius: 10px;
    height: 120px;
    max-height: 120px;
    max-width: 559px;
    padding: 5px 10px;

    &::placeholder {
      padding-top: 20px;
      padding-left: 10px;
      font-size: 20px;
      color: #d1d1d1;
    }

    &:focus { border-color: colors.$buttonBlue; outline: none; }
  }

  label {
    font-weight: 400;
    font-size: 20px;
    color: #2a3647;

    .required { color: colors.$errorRed; }
  }

  input {
    box-sizing: border-box;
    padding: 12px 21px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 48px;
    width: 100%;
    outline: none;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: #000;
      transition: background-color 5000s ease-in-out;
    }

    &:focus { border-color: colors.$buttonBlue; }

    &::placeholder { color: #d1d1d1; }
  }
}
.area_left form > div:nth-of-type(2) input {
  height: 120px;
  align-items: flex-start;
  padding-top: 18px;
}
