@use "../../../styles/colors.scss";

.add_task {
  display: flex;
  flex-direction: column;
  padding: 48px 35px;
  gap: 24px;
  max-width: 1440px;
  @media(max-width:1400px)
  {
    gap: 0px;
  
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span { 
      font-weight: 700; 
     font-size: 61px; 
      @media(max-width:1400px){
        font-size: 50px;
      }
    }

  }
  .area_mid {
    display: flex; 
    gap: 50px;
 
  @media (max-width: 1400px) {
    flex-direction: column;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    scrollbar-width: none;
  }
  @media (max-width: 1400px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
    .area_left, .area_right {
      display: flex; 
      flex-direction: column; 
      gap: 24px; 
      width: 100%;
      .carlenda p { 
        height: 24px; 
      }
      .carlenda .required { 
        color: colors.$errorRed; 
      }
        input { 
          height: 54px;
          &:focus { 
            border-color: colors.$buttonBlue; 
          }
        }
      
      textarea {
        display: flex; 
        align-items: center;
        border: 1px solid #e6e6e6; 
        border-radius: 10px;
        height: 120px; 
        width: 100%; 
        padding: 5px 10px;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        &::placeholder { 
          padding-top: 20px; 
          font-size: 20px; 
          color: colors.$bgMiddleGrey; 
        }
        &:focus { 
          border-color: colors.$buttonBlue; 
          outline: none; 
        }
      }
    }
    .area_right {
      .priority {
        display: flex; 
        align-items: center; 
        gap: 16px; 
        max-width: 440px;
        .button_container {
          gap: 6px; 
          width: 136px; 
          border-radius: 13px;
          background: white; 
          &:hover { 
            cursor: pointer; 
            box-shadow: -3px 5px 8px #aea9a9; 
          }
          &.urgent { 
            background: colors.$bgOrange; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          &.medium { 
            background: colors.$bgYellow; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          &.low { 
            background: colors.$bgGreen; 
            span, svg path { color: #fff; fill: #fff; } 
            &:hover { box-shadow: 0; } 
          }
          .buttons { 
            height: 56px; 
            gap: 8px;
            font-size: 20px; 
            border-radius: 10px; 
            cursor: pointer; 
            @media(max-width: 1400px){
              font-size: 15px;
              &svg{
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
  .assigned-logos { 
    display: flex; 
    gap: 8px; 
    margin-top: 8px; 
  }
  .sc_logo { 
    width: 32px; 
    height: 32px; 
    border-radius: 50%; 
    font-weight: 500; 
    font-size: 14px; 
    color: #fff; 
  }
  .required{
    color: colors.$errorRed;
  }
  .area_input { 
    display: flex; 
    flex-direction: column; 
    gap: 8px;
    .area_input_label { 
      font-size: 20px; 
      color: #2a3647;
      &:focus-within{
        border-style: solid;
        border-width: thin;
        border-color: colors.$buttonBlue;
      }
      .required { 
        color: colors.$errorRed; 
      }
    }
    input { 
      padding: 12px 21px; 
      border: 1px solid colors.$bgMiddleGrey; 
      border-radius: 10px; 
      font-size: 20px; 
      width: 100%; 
      outline: none;
      border-style: none;
      &:focus { 
        border-color: colors.$buttonBlue; 
      }
      &::placeholder { 
        color: colors.$bgMiddleGrey; 
      }
      &:-webkit-autofill { 
        -webkit-box-shadow: 0 0 0px 1000px white inset; 
        -webkit-text-fill-color: #000; 
        transition: background-color 5000s ease-in-out;
      }
    }
  }
  .inner_subtask .inner_icons { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
    width: 100%; 
    border: 1px solid colors.$bgMiddleGrey; 
    border-radius: 10px; 
    background: colors.$white;
    &:focus-within { 
      border-color: colors.$buttonBlue; 
    }
    .subtask_area { 
      
      &:focus { border-style: none; } 
    }
  }
  .subtask_item{
    &:hover{
      background-color: colors.$bgMiddleGrey;
      border-radius: 10px;
      margin-top: 5px;
    }
    &.editing{
      background-color: colors.$white;
      border-bottom: colors.$buttonBlue;
      border-bottom-style: solid;
      border-width: thin;
      margin-top: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .subtask_list li { 
    display: flex; 
    padding: 0 10px;
    .icons { 
      display: flex; 
      gap: 5px; 
      align-items: center; 
      opacity: 0; 
      pointer-events: none; 
      transition: opacity 0.2s ease;
      &.editing { 
        flex-direction: row-reverse; 
        opacity: 1; 
        pointer-events: auto; 
      }
    }
    &:hover .icons { 
      opacity: 1; 
      pointer-events: auto; 
    }
    .task-wrapper { 
      flex: 1; 
    }
    input { 
      width: 100%; 
      border:transparent; 
      background: transparent; 
      font-size: 20px; 
         &:focus { 
      outline: none;
    }
    }
  }
  footer { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 20px;
    @media(max-width:1400px){
      display: flex;
      flex-direction: column;
      gap: 10px;
      :first-child{
        align-self: flex-start;
      }
      :last-child{
        align-self: flex-end;
      }
    }
    
    span { 
      font-family: 'Inter'; 
      font-weight: 400; 
      font-size: 20px; 
      @media(max-width:500px){
        font-size: 10px;
      }
      color: black;
      &.required, .footer { 
        color: colors.$errorRed; 
        font-size: 25px;
        @media(max-width: 500px){
          font-size: 15px;
        }
      }
    }
    div { 
      display: flex; 
      gap: 25px;
      .button_light, .button_dark { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 16px; 
        gap: 4px; 
        border-radius: 10px; 
        cursor: pointer; 
        font-size: 20px; 
        font-weight: 400; 
        @media(max-width:500px){
          font-size: 10px;
        }
      }
      .button_light { 
        width: 126px; 
        height: 56px; 
        border: 1px solid #2a3647; 
        background: #fff; 
        
        &:hover { 
          border-color: colors.$buttonBlue; 
          color: colors.$buttonBlue; 
        } 
        @media(max-width:500px){
          width: 90px;
        }
      }
      .button_dark { 
        width: 183px; 
        height: 56px; 
       
       
        font-size: 21px; 
        font-weight: 700; 
        flex-direction: row-reverse; 
        border: none; 
        @media(max-width:500px){
          font-size: 10px;
          width: 116px;
        }
        &:hover { 
          background: colors.$buttonBlue; 
        } 
      }
    }
  }
  .error-border { 
    border: 1px solid colors.$errorRed !important; 
    border-radius: 10px; 
  }
  .error-text { 
    color: colors.$errorRed; 
    font-size: 12px; 
  }
  .seperator { 
    border-left: 1px solid colors.$bgMiddleGrey; 
  }

}
.create_task_message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 

  .task-error-message,.task-added-message {
    padding: 20px 40px;
    background: colors.$bgGrey; 
    color: colors.$white;
    border-radius: 10px;
    font-size: 18px;
  }
}